<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} &mdash; larron oblige</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/enstars.js"></script>
  <!-- dont do this -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Quicksand&display=swap" rel="stylesheet"> 
</head>

<body>
    <!-- header -->
    <div class="header">
        <!-- title -->
        <h1 class="title"><a href="/">larron oblige</a></h1>
    </div>
    <!-- center panel -->
    <div class="main">
        <!-- navbar -->
        <div class="navbar">
            <ul class="no-ul flex" style="justify-content: space-around;">
                <li><a href="/about.md">about</a></li>
                <li><a href="/my_boys/index.html">my ocs</a></li>
                <li><a href="/anime_boys/index.html">anime boys</a></li>
                <li><a href="/enstars.html">engstars calc</a></li>
            </ul>
        </div>
        
        <div class="flex" style="justify-content:space-between;">
            <div class="content">
                {{ content }}
            </div>

            <!-- sidebar -->
            <div class="sidebar clearfix">
                <!-- sidebar img -->
                <img src="/assets/sidebar.png" class="side-img">
                <ul class="no-ul">
                    <li><a href="https://twitter.com/larron_oblige">twitter</a></li>
                    <li><a href="https://nyansieur.tumblr.com">tumblr</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>